*{
    text-align: center;
}
body{
    background-image: url(images/akons.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.table,tr,td,th{
    border: 2px solid pink;
}
.card-header{
    background-color: blueviolet;
}

.card-body{
    background-color: aqua;
}
.card-footer{
    background-color: blueviolet;
}